.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.center-on-page-top {
  grid-column: span 1;
  position: absolute;
  top: 30%;
  left: 20%;
}
.center-on-page-mid {
  grid-column: span 1;
  position: absolute;
  top: -30%;
  left: 140%;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .center-on-page-top,
  .center-on-page-mid,
  .form-inline {
    position: relative;
    top: 30%;
    left: 20%;
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

// Full height!
body {
  min-height: 100vh;
}
body,
a {
  color: #161616;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: currentColor;
}
h1 {
  font-size: calc(1em + 3vw);
}
h1 {
  text-align: center;
  color: #ffffff;
}
h3 {
  color: #bbbbcc;
}
img {
  vertical-align: middle;
}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Ye Olde Backe Linke */
.fauxbtn {
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  appearance: button;
  display: block;
  width: 250px;
  line-height: 16px;
  background: #2c3e50;
  padding: 15px;
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25em;
}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
  width: 250px;
  height: 40px;
  margin: 0;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25em;
}
.btn,
.fauxbtn:hover {
  color: #f39c12;
}
